
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #699FA4;
    z-index: 99;
}

nav label.logo {
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: bold;
    color: #3d2020;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    font-weight: 400;
    color: #3d2020;
    font-size: 17px;
    text-decoration: none;
}

.checkbtn {
    display: none;
    font-size: 20px;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}
 
#check{
    display: none;
}
#check:checked ~ ul {
    left: 0;
}


@media (max-width: 895px) {

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #777777;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #000;
    }

    
}

.container {
    background-color: #777777;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info {
    flex: 1;
}

.container .pic img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.about {
    background-color: #A0C6C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.about img {
    height: 350px;
}

.about-content {
    padding: 0 20px;
}

.about-content .heading {
    margin-bottom: 5px;
    text-align: left;
}

.about-content p {
    font-size: 17px;
    line-height: 1.6;
    margin: 20px 0;
}


.contact-section {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 50px 20px;
    background-color: #699FA4;
    text-align: center;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-info li {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.info-value {
    margin-left: 5px;
}

.social a {
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}

.social a:hover {
    color: #ddd;
}


@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        
    }

    .pic {
        display: none;
    }

    .info {
        
        margin-top: 250px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        margin-bottom: 20px;
    }

    .contact-section {
        padding: 20px;
    }

    .social {
        margin-top: 20px;
    }
}

.certificate {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    
  }

  .box {
    width:auto; 
    background-color: #699FA4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-right: 20px; 

  }

  

  .box img {
   width: 350px;
   height: 230px;
    margin-bottom: 10px;
  }

  .text-content {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  @media screen and (max-width: 600px) {
    .certificate {
      flex-direction: column;
      align-items: center;
    }
    .box {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
      }
  }